.main-page {
    display: grid;
    padding: 1em 9%;
}

.search-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-reset {
    margin-left: 10px;
    width: 70px;
    height: 40px;
    background: white;
    color: #ff4d4f;
    border: 1px solid #ff4d4f;
    border-radius: 2px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    cursor: pointer;
}

.button-reset:hover {
    opacity: 0.7;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.header {
    text-align: center;
}
